<html>
<head>
</head>
<body>

<style type="text/css">
table, th, td{
	border: 1px solid black;
}
</style>


{% if not(pets) %}

You currently have no pets! Add a pet! <br>

{% else %}

This is your list of pets:

<table>
	<th>Pet Name&emsp;</th>
	<th>Type&emsp;</th>
	<th>Size&emsp;</th>

{% for line in pets %}
	<tr>
		<td>{{line.petName}}</td>
		<td>{{line.petType}}</td>
		<td>{{line.petSize}}</td>
	</tr>
{% endfor %}
</table>

{% endif %}

What would you like to do?
<br>

<a href="/petAdd">Add a new pet</a>
<br>
{% if pets %}
<a href="/petModify">Modify information on the existing pet</a>
<br>
{% endif %}

<a href="/home">Go home</a>
<br>

</body>


</html>