<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here is the general information about this building: <br><br>

<b>Address:</b> {{build.addrNum}} {{build.addrStreet}}, {{build.addrCity}}, {{build.addrState}}, {{build.addrZipCode}} <br>
<b>Year Built:</b> {{build.yearBuilt}} <br>
<b>Number of Units:</b> {{numUnit.count}} <br>
<b>Amenities: </b>{% for line in amen %}[{{line.aType}}]{% endfor %} <br>

<br>

{% if not(pets) %}

{% else %}

This building has the following pet policy with respect to your pets: <br><br>

<table>
	<th>Pet Name&emsp;</th>
	<th>Is allowed?&emsp;</th>
	<th>Registration Fee&emsp;</th>
	<th>Monthly Fee&emsp;</th>

{% for line in pets %}
	<tr>
		<td>{{line.petName}}</td>
		<td>{{(line.isAllowed and True) or False}}</td>
		{% if line.isAllowed %} 
		<td> {{line.registrationFee}} </td>
		<td> {{line.monthlyFee}} </td>
		{% else %} 
		<td> - </td>
		<td> - </td> 
		{% endif %}
	</tr>
{% endfor %}
</table>
<br><br>

{% endif %}

Here is a list of available units in this building. Choose a unit and click "Search Unit" to get more information about the unit, view, or post interest. 
<br><br>




<form action="/searchUnit" method="POST">
<input type = "hidden" name = "city" value = {{build.addrCity}}> </input>
<table>
	<th>Unit ID&emsp;</th>
	<th>Unit Number&emsp;</th>
	<th>Monthly Rent&emsp;</th>
	<th>Square Footage&emsp;</th>
	<th>Available Move-in Date&emsp;</th>
	<th></th>

{% for line in units %}
	<tr>
		<td>{{line.unitRentID}}</td>
		<td>{{line.unitNumber}}</td>
		<td>{{line.monthlyRent}}</td>
		<td>{{line.squareFootage}}</td>
		<td>{{line.availableDateForMoveIn}}</td>
		<td><input checked type="radio" name="unit" value={{line.unitRentID}}> </input></td>
	</tr>
{% endfor %}
<input type="submit" value="Search Unit">
</form>
</table>
<br><br>




<a href="/home">Go home</a>

</body>


</html>